<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <mat-card class="card jono">
    <img src="assets/jono.jpg">
  </mat-card>
  <mat-card class="card card-body describe">
    <mat-card-content>
      <p class="card-text">
        Stories have a way of taking you away from the normality of everyday something I feel we all
        could use from time to time. Since I was young I was always thinking of silly stories;
        imagination full of superpowers, technological breakthroughs and dystopian adventures. Books
        were the perfect way to fuel my desire to tell stories. Fantasy books have always been my
        favourite, the Percy Jackson series will always be my favourite though notable inclusions of
        the Saga of Darren Shan and Keys to the Kingdom were up there to keep me occupied. As I’ve
        grown Mistborn and A Song of Ice and Fire have added to the list of maturing my tastes and
        informing how I want to grow as an author.
      </p>
      <p class="card-text">
        My taste in stories has grown to include copious amounts of science fiction and contemporary
        dramas with films also playing a larger role in shaping how I want to tell stories. All these
        avenues to enjoy getting away from ourselves and I find myself drawn to them each and every day.
        The Weaver Heir was not the first book I have finished, and maybe one day those prior will come
        to light. But stay tuned as more tales will be told whether they are books, scripts or more.
      </p>
    </mat-card-content>
  </mat-card>
</div>