<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <mat-card class="card jono">
    <img src="assets/jono.jpg">
  </mat-card>
  <mat-card class="card card-body describe">
    <mat-card-content>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed massa vel lectus facilisis
        cursus non vel nibh. Donec tincidunt, tortor sed lacinia commodo, ex odio ullamcorper purus,
        ac feugiat sapien nisi et urna. Maecenas in mi maximus, rutrum ex commodo, ullamcorper neque.
        Nunc condimentum blandit iaculis. Suspendisse id ornare justo. Ut lacus erat, interdum non
        quam gravida, vehicula tincidunt arcu. Morbi elementum neque nec ultrices mattis. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. Vivamus consequat congue euismod. Ut ac augue
        pellentesque, consequat neque tempus, consequat nisi. Phasellus non pulvinar metus.
      </p>
      <p class="card-text">
        Vivamus fringilla risus ut mi cursus dignissim. Duis vitae ante turpis. Cras erat turpis,
        maximus ut rutrum vitae, lacinia nec nunc. Vestibulum malesuada, diam dictum mollis finibus,
        dolor turpis pharetra eros, in ornare orci erat rhoncus est. Etiam vehicula ex vitae felis
        bibendum sagittis. Nulla non tincidunt mauris. Quisque dapibus erat non ligula blandit
        sollicitudin porta ac velit. Maecenas laoreet vehicula lorem, vel gravida erat rutrum ac.
        Integer dapibus sapien dictum leo ultrices, ut efficitur ante placerat.
      </p>
    </mat-card-content>
  </mat-card>
</div>