<mat-toolbar class="nav">
  <!-- Mobile and small screen view -->
  <div class="toggleMenu">
    <button mat-icon-button (click)="onToggleSidenav()"[matMenuTriggerFor]="shortMenu">
      <mat-icon>menu</mat-icon>
    </button>
      <mat-menu #shortMenu="matMenu" yPosition="below">
        <button id="homeBtn" mat-menu-item routerLink="/" routerLinkActive="active">Home</button>
        <button id="bioBtn" mat-menu-item routerLink="/about-me" routerLinkActive="active">Bio</button>
        <button id="contactBtn"mat-menu-item routerLink="/contact-me" routerLinkActive="active">Contact</button>
        <button id="blogBtn" mat-menu-item routerLink="/blog" routerLinkActive="active">Blog</button>
      </mat-menu>
  </div> 
  <div class="spacer"></div>
  <a routerLink="/"><span class="logo">J . S </span><span class="logo logo2"> Y O U N G</span></a>
  <!-- Desktop View -->
  <div class="navBtns">
    <button id="homeBtn" mat-button routerLink="/" class="menu-button">Home</button>
    <button id="bioBtn" mat-button routerLink="/about-me" routerLinkActive="active" class="menu-button">Bio</button>
    <button id="contactBtn" mat-button routerLink="/contact-me" routerLinkActive="active" class="menu-button">Contact</button>
    <button id="blogBtn" mat-button routerLink="/blog" routerLinkActive="active" class="menu-button">Blog</button>
    <!-- <button id="homeBtn" mat-button class="menu-button">Projects</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">[matMenuTriggerFor]="belowMenu"
      <button mat-menu-item routerLink="/" routerLinkActive="active">Dissertation</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active">Listify</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active">Virtual Reality</button>
      <button mat-menu-item routerLink="/" routerLinkActive="active">Serious Games</button>
    </mat-menu> -->
  </div>
</mat-toolbar>
