<nav class="navbar navbar-dark bg-dark mb-5">
  <div class="container">
    <div class="navbar-expand mr-auto">
      <a class="navbar-brand title" href="/home">Jono Young</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="'/'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-item nav-link" [routerLink]="'/about-me'" [routerLinkActive]="'active'">About</a>
        <a class="nav-item nav-link" [routerLink]="'/contact-me'" [routerLinkActive]="'active'">Contact me</a>
        <a class="nav-item nav-link" [routerLink]="'/news'" [routerLinkActive]="'active'">News</a>
      </div>
    </div>
  </div>
</nav>