.title {
    font-size: xxx-large;
    // margin: 0 0 10% 100%;
}
.navbar-nav {
    text-align: center;
    // margin-left: 100%;
}

.container {
    text-align: center;
}

.navbar-expand .mr-auto {
    display: inline-block;
}