<div class="container">
    <mat-card class="card jono">
        <mat-header>
            <mat-title>
                <a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">
                    <img src="assets/twitter-brands.svg">
                 </a>
            </mat-title>
        </mat-header>
        <mat-content>
            <p>This will preview Jono's twitter</p>
        </mat-content>
    </mat-card>
    <mat-card class="card jono">
        <mat-header>
            <mat-title>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">
                    <img src="assets/instagram-brands.svg">
                </a>
            </mat-title>
        </mat-header>
        <mat-content>
            <p>This will preview Jono's instagram</p>
        </mat-content>
    </mat-card>

    <!-- <mat-card class="card test">
        <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src=assets/jono.jpg height="100px">
        <mat-card-content>
          <p class="card-text">
            Some sort of description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="callApi()">Button text</button>
        </mat-card-actions>
      </mat-card> -->
</div> 
<!-- <ul>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">Twitter</a></h3>
    </li>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">Instagram</a></h3>
    </li>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://www.amazon.co.uk/dp/1074346882/ref=sr_1_2?keywords=weaver+heir&qid=1564693510&s=gateway&sr=8">Buy my book!</a></h3>
    </li>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://www.goodreads.com/book/show/50031064-the-weaver-heir">My book reviews</a></h3>
    </li>
</ul> -->