<div class="container">
    <mat-card class="card jono">
        <mat-header>
            <mat-title>
                <a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">
                    <img src="assets/twitter-brands.svg">
                </a>
                <span class="card-heading">Twitter</span>
            </mat-title>
        </mat-header>
        <mat-content>
            <a class="twitter-timeline" data-lang="en" data-height="-webkit-fill-available" data-theme="light"
                data-chrome="noborders nofooter noheader noscrollbar transparent"
                href="https://twitter.com/ssJonoYoung">Tweets by profile</a>
        </mat-content>
    </mat-card>
    <mat-card class="card jono">
        <mat-header>
            <mat-title>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">
                    <img src="assets/glyph-logo_May2016.png">
                </a>
                <span class="card-heading">Instagram</span>
            </mat-title>
        </mat-header>
        <mat-content>
            <div class="elfsight-app-3b457d5b-d768-4f1a-a12e-5a35818a6ab8"></div>
        </mat-content>
    </mat-card>
</div>