<div class="container">
    <mat-card class="card jono">
        <mat-header>
            <mat-title>
                <a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">
                    <img src="assets/twitter-brands.svg">
                 </a>
                 <span class="card-heading">Twitter</span>
                </mat-title>
            </mat-header>
            <mat-content>
                <a class="twitter-timeline" data-lang="en" data-height="-webkit-fill-available" data-theme="light" data-chrome="noborders nofooter noheader noscrollbar transparent" href="https://twitter.com/ssJonoYoung">Tweets by profile</a>
        </mat-content>
    </mat-card>
    <mat-card class="card jono">
        <mat-header>
            <mat-title>
                <a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">
                    <img src="assets/glyph-logo_May2016.png">
                </a>
                <span class="card-heading">Instagram</span>
            </mat-title>
        </mat-header>
        <mat-content>
            <div class="elfsight-app-3b457d5b-d768-4f1a-a12e-5a35818a6ab8"></div>
        </mat-content>
    </mat-card>

    <!-- <mat-card class="card test">
        <mat-card-header>
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src=assets/jono.jpg height="100px">
        <mat-card-content>
          <p class="card-text">
            Some sort of description
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="callApi()">Button text</button>
        </mat-card-actions>
      </mat-card> -->
</div> 
<!-- <ul>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">Twitter</a></h3>
    </li>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">Instagram</a></h3>
    </li>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://www.amazon.co.uk/dp/1074346882/ref=sr_1_2?keywords=weaver+heir&qid=1564693510&s=gateway&sr=8">Buy my book!</a></h3>
    </li>
    <li>
    <h3><a target="_blank" rel="noopener" href="https://www.goodreads.com/book/show/50031064-the-weaver-heir">My book reviews</a></h3>
    </li>
</ul> -->