<h1 class="weaver-title">The Weaver Heir</h1>
<div class="container">
    <mat-card class="card weaver">
        <img src="assets/weaver.jpg">
    </mat-card>
    <mat-card class="card card-body describe">
        <mat-card-content>
        <p class="card-text">
            The Weaver Heir follows Kayden Joughes a man who should not have been set free. Cursed with magic he should of died at the end of a rope not been freed by the Lady Commander of Aristell, Alanaia Thendory. But her ulterior motives reach far beyone the Aristell walls, she wants to make a change.
            Forced out on his own Kayden ventures out to find the legendary Throne of Endexius, supposefly the most powerful magical object in the world. Adversaries both human and demon plague the journey leading him to allying with Devlen, a half-demon half-human shape-shifter. As his powers grow Kayden must contend with teh consequences of them as well as the feelings he has for Devlen.
        </p>
        <p class="card-text">
            Kayden Joughes didn't ask for magic, especially to have it in Merrister where it has been forbidden for generations. With demons attacking from the Boundary constantly he sets off on a quest to put a stop to it. Allies and romance mark his journey across the country searching for the most powerful magical artifact known to mankind, the Throne of Endexius.
            Meanwhile, Lady Commander of Aristell, Alanaia must contend with the cutthroat nature of capital's politics. With friend and foe alike around every corner she must be careful as rebellion stirs in the north threatening to dismantle everything she has worked towards.
        </p>
        </mat-card-content>
    </mat-card>
</div>
  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->