<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img class="jono" alt="Jono" src="assets/jono.jpg">
</div>
<h2>Here is a little something to get to know me </h2>
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">Twitter</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">Instagram</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://www.amazon.co.uk/dp/1074346882/ref=sr_1_2?keywords=weaver+heir&qid=1564693510&s=gateway&sr=8">Buy my book!</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://www.goodreads.com/book/show/50031064-the-weaver-heir">My book reviews</a></h3>
  </li>
</ul>

<img class="weaver" alt="Weaver Heir" src="assets/weaver.jpg">
<router-outlet></router-outlet>
