<div class="container">
  <!-- The Weaver Heir review widget -->
  <mat-card class="card describe">
    <mat-card-content>
      <div id="goodreads-widget">
        <div id="gr_header">
          <h1><a rel="nofollow" target="_blank"
              href="https://www.goodreads.com/book/show/52436628-the-weaver-heir">Goodreads reviews
              for The Weaver Heir</a></h1>
        </div>
        <iframe id="the_iframe" target="_blank"
          src="https://www.goodreads.com/api/reviews_widget_iframe?did=80047&format=html&header_text=Goodreads+reviews+for+The+Weaver+Heir&isbn=9781074346881&links=660&min_rating=&num_reviews=&review_back=ffffff&stars=000000&stylesheet=&text=444"
          frameborder="0"></iframe>
        <div id="gr_footer">
          <a class="gr_branding" target="_blank" rel="nofollow noopener noreferrer"
            href="https://www.goodreads.com/book/show/52436628-the-weaver-heir?utm_medium=api&utm_source=reviews_widget">Reviews
            from Goodreads.com</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- The Weaver Heir links to buy -->
  <mat-card class="card describe">
    <mat-card-title>
      Where can I get this book?
    </mat-card-title>
    <mat-card-subtitle>
      The Weaver Heir
    </mat-card-subtitle>
    <mat-card-content>
      <div class="row">
        <a target="_blank"
          href='https://www.amazon.co.uk/Weaver-Heir-Mr-J-S-Young/dp/1074346882/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=&sr='>
          <img src="../../../assets/amazon.svg">
          <p>Paperback: <strong>£9.99</strong></p>
        </a>
      </div>
      <div class="row no-top">
        <a target="_blank"
          href='https://www.amazon.co.uk/Weaver-Heir-J-S-Young-ebook/dp/B07VXJSQY4/ref=tmm_kin_swatch_0?_encoding=UTF8&qid=&sr='>
          <img src="../../../assets/amazon.svg">
          <p>Kindle Edition: <strong>£4.99</strong></p>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>