<div class="container">
  <div class="body">


    <h2>This will be a contact me page with email support</h2>

    <ul>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://twitter.com/ssJonoYoung">Twitter</a></h3>
      </li>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://www.instagram.com/ssjonoyoung/?hl=en">Instagram</a></h3>
      </li>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://www.amazon.co.uk/dp/1074346882/ref=sr_1_2?keywords=weaver+heir&qid=1564693510&s=gateway&sr=8">Buy my book!</a></h3>
      </li>
      <li>
        <h3><a target="_blank" rel="noopener" href="https://www.goodreads.com/book/show/50031064-the-weaver-heir">My book reviews</a></h3>
      </li>
    </ul>
  </div>
</div>