<h2 mat-dialog-title><img src="../../../assets/alert-outline.svg"> Caution</h2>
<!-- <h2 mat-dialog-title><div class="example-header-image mat-card-avatar"></div> Caution</h2> -->
<mat-dialog-content class="mat-typography">
  <h3>Under construction</h3>
  <p class="thing">
    Note that this page is currently under construction so may be abit slow and unresponsive at times.
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">I understand</button>
</mat-dialog-actions>